.w100 {
    width: 100% !important;
}
.h100{
    height: 100%;
}
.wvw{
    width: 50vw;
}
.bg-dw{
    background-color: rgb(227, 227, 227);
}
.mt80{
    margin-top: 80px;
}
.c-b{
    color: rgb(0, 132, 255);
}
.c-w{
    color:white !important;
}
.styl-flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-w{
    background-color: white;
}
.bg-b{
    background-color: black;
}
.bg-d{
    background-color: #212529;
}
.td-none {
    text-decoration: none;
}
.none{
    display: none;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.inline-block{
    display: inline-block;
}
body{
    min-height: 92vh;
    position: relative;
}
#Mode i{
    color:black
}
.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

i{
    transition: font-size 0.5s,transform 0.5s ease-in-out;
    
}
.fa-sun{
    font-size: 30px;
    transform: rotate(180deg);
}
.fa-moon{
    font-size: 0px;
    transform: rotate(0deg);
}
input[type="checkbox"]:checked ~ label .mode #dark-mode {
 /* Show moon icon */
    font-size: 30px;
    transform: rotate(360deg);
}
input[type="checkbox"]:checked ~ label .mode #light-mode {
    /* Show moon icon */
       font-size: 0px;
       transform: rotate(0deg);
   }
.nav-user{
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.aut-btn .btn{
    margin: 0px 5px;
}
.navbar-container{
    position:sticky;
    z-index: 9999;
}
.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
}
.form{
    margin-top: 10px;
    width: 50vw;
}

.active-link{
    font-weight: bold;
}
 /* ---------OTP page----------- */

.otp-page{
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color:rgba(255, 255, 255, 0.3) ;
    backdrop-filter: blur(5px);
    position:fixed;
    top:0;
    left: 0;
    transition:display 2s ease-in-out;
}

.otp-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-modal{
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.otp-modal ion-icon{
    color: rgb(0, 132, 255);
    font-size: 50px;
}
.otp-modal h4{
    margin:20px 0px 20px 0px ;
}
.otp-modal form input{
    height: 50px;
    width:45px;
    margin: 0px 2px 0px 2px;
    border-radius: 6px;
    font-size: 1.225rem;
    text-align: center;
}

.otp-modal form input::-webkit-inner-spin-button,
.otp-modal form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otp-time{
    margin: 20px 0px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
}
.invalid-otp{
    border: 2px solid rgb(212, 20, 20);
}
.disabled{
    font-weight: bold;
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}
.enabled{
    font-weight: bold;
    color: rgb(0, 132, 255);
    cursor: pointer;
}
.enabled:hover{
    color:rgb(0, 106, 205);;
}

/* /////////////////////////User Nav//////////////////////// */
.user-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-nav-icon{
    font-size: 40px;
    color: rgb(0, 132, 255);
    margin: 0px 10px;
}


/* /////// About Page //////// */
.card-img-top{
    height: 300px;
     background-image: url("./images/iron_man_1.png");
     background-size: cover;
     background-position: center;
   }
   .social-icon i{
     font-size: 30px;
     margin-right: 20px;
     cursor: pointer;
    color: #0084ff;
     text-decoration: none;
    transition:font-size 0.3s ease-in-out ;
    width: 100%;
    text-align: center;
   }
   .social-icon i:hover{
     font-size: 40px;
   }
   .social-icon a:link{
     text-decoration: none;
    
   }
   .card{
     margin: 30px 0px 0px 0px;
   }
   .social-icon{
     height: 50px;
     display: flex;
     align-items: center;
   }
   .social-icon a{
     width: 50px;
     text-align: center;
   }
   .about-card-container{
    padding: 0px 10px 80px 10px;
   }

 /* /////////// User Card ////////////// */



                /* /////////// Password Update Section ////////////// */
.password-container{
    margin-top: 50px;
    height: 60px;
    border-radius: 15px;
    justify-content: center;
}
.password-update .password-box{
    width: 12em;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(0, 132, 255);
    padding: 0px 10px;
    font-size: 1.2rem;
}
.password-update input{
    width: 88%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.password-update{
    overflow: hidden;
    height: 60px;
    width: 128px;
    transition: width 2s ease-in-out;
}
.password-update p{
    line-height: 60px;
    margin: 0px;
    cursor: pointer;
}
.password-update form{
    display: flex;
}
.icon{
    color: #0084ff;
}
                

@media(max-width: 990px){
    .nav-user{
        right: 75px;
    }
    .form{
        width: 75vw;
    }
}