.w100 {
    width: 100%;
}
.wvw{
    width: 50vw;
}
.mt80{
    margin-top: 80px;
}
.td-none {
    text-decoration: none;
}
.none{
    display: none;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
body{
    min-height: 100vh;
    position: relative;
}
#Mode i{
    color:black
}
.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

i{
    transition: font-size 0.5s,transform 0.5s ease-in-out;
    
}
.fa-sun{
    font-size: 30px;
    transform: rotate(180deg);
}
.fa-moon{
    font-size: 0px;
    transform: rotate(0deg);
}
input[type="checkbox"]:checked ~ label .mode #dark-mode {
 /* Show moon icon */
    font-size: 30px;
    transform: rotate(360deg);
}
input[type="checkbox"]:checked ~ label .mode #light-mode {
    /* Show moon icon */
       font-size: 0px;
       transform: rotate(0deg);
   }
.nav-user{
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aut-btn .btn{
    margin: 0px 5px;
}
.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
}
.login-form{
    margin-top: 70px;
    width: 50vw;
}
@media(max-width: 990px){
    .nav-user{
        right: 75px;
    }
}